@use "../abstracts" as *;

.progress {
    @extend %flex;
    height: 5px;
    overflow: hidden;
    line-height: 1.5;
    background-color: $gray4;
    border-radius: $border-radius1;
    .progress-bar{
     @extend  %flex-horiz-center-col;
      overflow: hidden;
      color:$white;
      text-align: center;
      white-space: nowrap;
      background-color: $app-theme-primary-green;
      transition: width .6s ease;
      border-radius: $border-radius1;
    }
  }