@use "../abstracts" as *;
.sidepanel {
  transform: translateX(200%);
  transition: transform $animation-type3 $animation-duration3,
    opacity $animation-type3 $animation-duration3;
  @extend %flex-col;
  height: 100%;
  opacity: 0;
  &.sidepanel-default {
    background: $white;
    box-shadow: -4px -8px 20px rgba(198, 207, 216, 0.25);
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    z-index: 11;
    
  }
  .sidepanel-lg & {
    width: 100%;
    max-width: 604px;
    &.app-c-panelCentered{
      max-width: 712px;
      max-height: 613px;
      @include screen-lap-sm {
        max-height: 575px;
      }
      @media (max-width: $screen-md-down) {
        max-width: 100%;
        max-height: 100%;
      }
      
    }
    &.app-c-panelsignup{
      max-width: calc(100vw - 108px);
      max-height: 796px;
      top: 66px;
      margin: 0 auto;
      @include screen-lap-vh {
        max-height: calc(100vh - 100px);
        max-width: calc(100vw - 108px);
      }
      @media (max-width: $screen-md-down) {
        max-width: 100%;
        max-height: 100%;
      }
      
    }
    @media (max-width: $screen-md-down) {
      max-width: 100%;
    }
  }
  .sidepanel-md & {
    width: 100%;
    max-width: 420px;

    @media (max-width: $screen-md-down) {
      max-width: 100%;
    }
  }
  .sidepanel-sm & {
    width: 100%;
    max-width: 348px;
    &.app-c-panelCentered{
      max-width: 648px;
        max-height: 478px;
      @include screen-lap-sm {
        max-height: 478px;
      }
      @media (max-width: $screen-md-down) {
        max-width: 100%;
        max-height: 100%;
      }
     
    }
    &.app-c-panelsignup{
      max-width: 648px;
        max-height: 478px;
      @include screen-lap-sm {
        max-height: 478px;
      }
      @media (max-width: $screen-md-down) {
        max-width: 100%;
        max-height: 100%;
      }
     
    }
    @media (max-width: $screen-md-down) {
      max-width: 100%;
    }
  }
  .sidepanel-left & {
    right: auto;
    left: 0;
  }
  @media (max-width: $screen-md-down) {
    .filter-panel & {
      height: 80%;
      bottom: 0;
      top: auto;
    }
  }
  .sidepanel-heading-action-mv {
    display: none;
    padding: 22px 20px 22px 14px;
    border-bottom: 1px solid $border-shade-1;
    @media (max-width: $screen-md-down) {
      display: flex;
      align-items: center;
      padding: 20px 24px 20px 23px;
    }
    .app-c-icon__back {
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: $app-theme-primary;
        padding-left: 0;
        position: relative;
        top: 1px;
        &:hover {
          color: $gray2;
        }
      }
      .icon-back {
        color: $app-theme-primary;
      }
    }
  }
  .sidepanel-header-action {
    @media (max-width: $screen-md-down) {
      display: none;
    }
    .app-c-close {
      width: 48px;
      height: 48px;
      background: $gray5;
      box-shadow: 0px 4px 20px rgb(173 182 201 / 5%);
      border-radius: $circle-radius;
      position: absolute;
      left: -30px;
      top: 34px;
      cursor: pointer;
      z-index: 2;
      @extend %flex-all-center;
      stroke-width: 1.5px;
      transition: background-color $animation-type3 $animation-duration2;
      &:hover {
        background: $gray3;
        svg.icon-theme2 {
          color: $black;
        }
      }
    }
  }
  .sidepanel-heading {
    padding: 40px;
    @media (max-width: $screen-md-down) {
      padding: 20px;
    }
    .panel-heading-only {
      font-weight: $font-weight-bold;
      font-size: 2.4rem;
      line-height: 1.5;
      color: $app-theme-primary;
      margin-top: 10px;
    }
  }
  .sidepanel-body {
    padding: 40px;
    height: 100%;
    overflow: auto;
  }
  .sidepanel-footer {
    .button-group {
      @extend %flex;
      border-top: 1px solid rgba($color: $border-shade-1, $alpha: 0.6);
      button {
        flex: 1 1 100%;
        border: 0;
        border-radius: 0;
        font-weight: $font-weight-semi-bold;
        height: 64px;
        @media (max-width: $screen-md-down) {
          height: 48px;
          padding: 14px 20px;
          font-size: $text-md;
        }
      }
    }
  }
}
.show-panel {
  .sidepanel {
    transform: translateX(0%);
    opacity: 1;
  }
}
.filter-panel {
  .-dv-only {
    @media (max-width: $screen-md-down) {
      display: none;
    }
  }
  @media (min-width: $screen-md-down) {
    .sidepanel-body {
      padding-top: 0;
      .custom-tab {
        &:last-child {
          .custom-tab-radio {
            ~ .content {
              .app-check-radio-wrap {
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .custom-tab-radio {
          ~ label {
            font-size: $text-lg;
            line-height: 2rem;
            color: $app-theme-primary;
            margin-bottom: 26px;
            font-weight: $font-weight-bold;
            display: flex;
            pointer-events: none;
            text-transform: capitalize;
          }
          ~ .content {
            .checkbox-filter {
              display: flex;
              flex-wrap: wrap;
              .app-check-radio-wrap {
                flex: 1 0 $circle-radius;
                align-items: flex-start;
                margin-bottom: 16px;

                &:last-child {
                  margin-bottom: 40px;
                }
                input {
                  ~ .app-check-radio-label {
                    color: $gray1;
                    word-break: break-word;
                    font-size: $text-lg;
                    font-weight: $font-weight-medium;
                    line-height: 2.4rem;
                  }
                  ~ .checkmark {
                    top: 4px;
                    @include screen-lap-sm {
                      top: 2px;
                    }
                  }
                  &:checked {
                    ~ .app-check-radio-label {
                      font-weight: $font-weight-semi-bold;
                      color: $app-theme-primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: $screen-md-down) {
    .sidepanel {
      transform: translateY(120%);
      box-shadow: 0px -4px 31px rgba(157, 167, 176, 0.2);
      border-radius: 16px;
    }
    &.show-panel {
      .sidepanel {
        transform: translateY(0%);
      }
    }
    .sidepanel-body {
      padding: 0;
      .panel-sub-body {
        height: 100%;
      }
      .custom-tabs {
        background: $gray5;
        padding: 20px;
        position: relative;
        height: 100%;
        overflow: auto;
        .custom-tab {
          padding: 10px 0;
          &:first-child {
            padding-top: 0;
          }
          input {
            &.custom-tab-radio {
              opacity: 0;
              visibility: hidden;
            }
            ~ label {
              font-size: $text-md;
              line-height: 2.1rem;
              color: $gray1;
              max-width: 105px;
              display: block;
              left: 0;
              cursor: pointer;
              word-break: break-word;
            }
            ~ .content {
              display: none;
              overflow: auto;
              .app-check-radio-wrap {
                input {
                  ~ .checkmark {
                    top: 3px;
                  }

                  ~ .app-check-radio-label {
                    font-size: 14px;
                    line-height: 2.1rem;
                    color: $gray1;
                    margin-bottom: 21px;
                    word-break: break-word;
                  }
                  &:checked {
                    ~ .app-check-radio-label {
                      font-weight: $font-weight-semi-bold;
                      color: $app-theme-primary;
                    }
                  }
                }
              }
            }
            &:checked {
              ~ label {
                color: $app-theme-primary;
                font-weight: $font-weight-semi-bold;
              }
              ~ .content {
                display: flex;
              }
            }
          }
          .content {
            overflow: auto;
            position: absolute;
            left: 137px;
            width: calc(100% - 137px);
            height: calc(100%);
            top: 0;
            background: $white;
            padding: 20px;
            .checkbox-filter {
              display: flex;
              flex-direction: column;
              .app-check-radio-wrap {
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .sidepanel-heading-action-mv {
      .sidepanel-heading-action-title {
        font-weight: $font-weight-medium;
        font-size: $text-lg;
        line-height: 2.4rem;
        color: $gray1;
      }
      .app-c-close {
        margin-left: auto;
        stroke-width: 1.5px;
        cursor: pointer;
        svg {
          color: $gray2;
        }
      }
    }
  }
}
.sidepanel-status {
  .app-c-panel-container {
    padding: 0px 40px;
    height: 100%;
    overflow: auto;
    flex: 1 1 auto;
    position: relative;
    @include flex-direction(column);
    @media (max-width: $screen-md-down) {
      padding: 0px 20px;
    }
    .sidepanel-body {
      padding: 30px 0px;
      overflow: visible;
      @media (max-width: $screen-md-down) {
        padding: 20px 0px;
      }
    }
    .app-c-applyborder {
      border-top: 1px solid rgba($color: $border-shade-1, $alpha: 0.6);
    }
  }
  .sidepanel-heading {
    padding: 40px 0px 30px 0px;
    border-bottom: 1px solid rgba($color: $border-shade-1, $alpha: 0.6);
    @extend %flex;
    @media (max-width: $screen-md-down) {
      padding: 20px 0px;
    }
    .app-c-container__img {
      margin-right: 25px;
      @media (max-width: $screen-md-down) {
        margin-right: 10px;
      }
      .app-c-avatar {
        background: $green-shade;
        border-radius: 8px;
        width: 80px;
        height: 80px;
        @extend %flex-horiz-center;
        img {
          align-self: center;
          object-fit: contain;
          max-width: 50px;
        }
      }
    }
    .app-c-container__details {
      width: 100%;
      .app-c-detail-name {
        @extend %flex-col;
        .app-c-title {
          font-weight: $font-weight-bold;
          color: $app-theme-primary;
          font-size: $text-xl;
          margin-bottom: 12px;
          word-break: break-word;
          line-height: 1.2;
          padding-right: 40px;
          @media (max-width: $screen-md-down) {
            font-size: $text-lg;
            margin-bottom: 10px;
          }
        }
        .app-c-role-details {
          @extend %flex-vert-start;
          margin-bottom: 15px;
          @media (max-width: $screen-md-down) {
            margin-bottom: 12px;
          }
          .app-c-role {
            font-size: $text-lg;
            font-weight: $font-weight-semi-bold;
            color: $app-theme-primary;
            flex: 1 1 75%;
            line-height: 1.2;
            @media (max-width: $screen-md-down) {
              font-size: $text-md;
              flex: 1 1 auto;
              padding-right: 10px;
              min-width: 160px;
              max-width: 560px;
            }
          }
          .app-c-complete {
            color: $gray2;
            font-weight: $font-weight-medium;
            font-size: $text-sm;
            flex: 1 1 100%;
            line-height: 1.2;
            margin-top: 2px;
            @media (max-width: $screen-md-down) {
              margin-top: 2px;
            }
          }
        }
        .app-c-duration-container {
          @extend %flex;
          .app-c-duration {
            @extend %flex-vert-center;
            @media (max-width: $screen-md-down) {
              margin-right: 30px;
            }
            .app-c-icon {
              margin-right: 10px;
            }
            .app-c-years {
              font-size: $text-sm;
              color: $gray1;
              margin-right: 50px;
              @media (max-width: $screen-md-down) {
                margin-right: 0px;
              }
            }
          }
          .app-c-location {
            color: $gray1;
            font-size: $text-sm;
            font-size: $text-sm;
            color: $gray1;
            @extend %flex-vert-center;
            .app-c-icon {
              margin-right: 10px;
            }
            .app-c-years {
              font-size: $text-sm;
              color: $gray1;
              margin-right: 50px;
              @media (max-width: $screen-md-down) {
                margin-right: 0px;
              }
            }
          }
        }
      }
    }
  }
  .sidepanel-body {
    padding: 40px 0px;
    &.sidepanel-body-status {
      height: auto;
    }
    .panel-sub-body {
      @extend %flex-col;
    }
    .app-c-technology {
      @extend %flex;
      @media (max-width: $screen-md-down) {
        @include flex-direction(column);
      }
      .app-c-titleheader {
        font-size: $text-md;
        font-weight: $font-weight-bold;
        color: $app-theme-primary;
        margin-bottom: 16px;
        line-height: 1.5;
      }
      .app-c-tech-container {
        padding-left: 17px;
        .app-c-tech-list {
          margin-bottom: 8px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: -17px;
            top: 9px;
            width: 4px;
            height: 4px;
            border-radius: $circle-radius;
            background-color: $gray1;
          }
          &:last-child {
            margin-bottom: 0px;
          }
          .app-c-tech-text {
            font-weight: $font-weight-regular;
            font-size: $text-md;
            color: $gray1;
            line-height: 2.1rem;
            word-break: break-word;
            padding-right: 20px;
            display: block;
          }
        }
      }
      .app-c-left__section {
        flex: 1 1 100%;
      }
      .app-c-right__section {
        flex: 1 1 100%;
        @media (max-width: $screen-md-down) {
          margin-top: 20px;
        }
      }
    }
    .app-c-description,
    .app-c-keyresp {
      padding: 30px 0px;
      border-bottom: 1px solid rgba($color: $border-shade-1, $alpha: 0.6);
      @media (max-width: $screen-md-down) {
        padding: 20px 0px 20px 0px;
      }
      .app-c-titleheader {
        font-size: $text-md;
        font-weight: $font-weight-bold;
        color: $app-theme-primary;
        margin-bottom: 8px;
        line-height: 1.5;
      }
      .app-c-keyresp-text {
        font-size: $text-md;
        font-weight: $font-weight-regular;
        color: $gray1;
        line-height: 1.5;
        word-break: break-word;
      }
      &.noborder {
        border-bottom: none;
        padding: 30px 0px 0px;
        @media (max-width: $screen-md-down) {
          padding-bottom: 0px;
          padding-top: 20px;
        }
      }
      .app-c-keyresp-container {
        padding-left: 17px;
        .app-c-keyresp-list {
          position: relative;
          margin-bottom: 10px;
          &::before {
            content: "";
            position: absolute;
            left: -17px;
            top: 9px;
            width: 4px;
            height: 4px;
            border-radius: $circle-radius;
            background-color: $gray1;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .app-c-status {
      padding: 30px 0px;
      @extend %flex-col;
      border-bottom: 1px solid rgba($color: $border-shade-1, $alpha: 0.6);
      @media (max-width: $screen-md-down) {
        padding: 20px 0px;
      }
      .app-c-titleheader {
        font-size: $text-md;
        font-weight: $font-weight-bold;
        color: $app-theme-primary;
        margin-bottom: 28px;
        line-height: 1.5;
        @media (max-width: $screen-md-down) {
          margin-bottom: 27px;
        }
      }
      .app-c-status-container {
        @extend %flex-col;
        flex: 1 1 auto;
        padding-left: 5px;
        .app-c-status-list {
          padding: 0px 0px 0px 21px;
          position: relative;
          flex: 1 1 auto;
          @extend %flex;
          padding-bottom: 30px;
          &:last-child {
            min-height: auto;
            margin-bottom: 0px;
            padding-bottom: 0px;
            &::before {
              display: none;
            }
          }
          &::before {
            position: absolute;
            left: 0;
            top: 8px;
            content: "";
            width: 1px;
            height: 100%;
            border-left: 1px solid $gray4;
          }
          &::after {
            position: absolute;
            left: -6px;
            top: 8px;
            content: "";
            width: 12px;
            height: 12px;
            border-radius: $circle-radius;
            border: 1px solid $gray3;
            background: $white;
          }
          &.completed {
            .app-c-status-details {
              position: relative;
              &::after {
                position: absolute;
                content: "";
                transform: rotate(39deg);
                height: 6px;
                width: 3px;
                border-bottom: 1.4px solid $white;
                border-right: 1.4px solid $white;
                left: -22.5px;
                z-index: 3;
                top: 10.2px;
              }
            }
            &::before,
            &::after {
              position: absolute;
              top: 8px;
              content: "";
            }
            &::before {
              left: 0;
              height: 100%;
              border-left: 1px solid $app-theme-secondary-green;
            }
            &::after {
              left: -6px;
              width: 12px;
              height: 12px;
              border-radius: $circle-radius;
              border: 1px solid $app-theme-secondary-green;
              background: $app-theme-secondary-green;
            }
          }
          &.inprogress {
            .app-c-status-details {
              .title {
                font-weight: $font-weight-bold;
                font-size: $text-lg-plus;
                margin-bottom: 13px;
                color: $app-theme-primary;
              }
            }
            &::before,
            &::after {
              position: absolute;
              top: 8px;
              content: "";
            }
            &::before {
              left: 0;
              width: 1px;
              height: 100%;
              border-left: 1px solid $app-theme-secondary-green;
            }
            &::after {
              left: -6px;
              width: 12px;
              height: 12px;
              border-radius: $circle-radius;
              border: 1px solid $app-theme-primary;
              background: $app-theme-primary;
            }
          }
          .app-c-status-details {
            display: flex;
            @include flex-direction(column);
            .title {
              font-weight: $font-weight-medium;
              font-size: $text-lg-plus;
              margin-bottom: 4px;
              line-height: 1.5;
              word-break: break-word;
            }
            .date {
              font-weight: $font-weight-regular;
              font-size: $text-sm;
              color: $gray2;
              @media (max-width: $screen-md-down) {
                margin-bottom: 30px;
                &:last-child {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }
    .app-c-comments {
      padding: 30px 0px 54px;
      .app-c-titleheader {
        font-size: $text-md;
        font-weight: $font-weight-bold;
        color: $app-theme-primary;
        margin: 0px 0px 30px 0px;
        line-height: 1.5;
        @media (max-width: $screen-md-down) {
          margin: 0px 0px 20px;
        }
      }
      @media (max-width: $screen-md-down) {
        padding: 20px 0px;
      }
      .app-commentbox {
        border: 1px solid $gray3;
        border-radius: 4px;
        padding: 12px;
        margin-bottom: 20px;
        .app-comment-header {
          margin-bottom: 8px;
          .title {
            color: $app-theme-primary;
            font-size: $text-sm;
            font-weight: $font-weight-medium;
            margin-right: 18px;
            line-height: 1.36583;
          }
          .date {
            color: $gray2;
            font-size: $text-sm;
            font-weight: $font-weight-regular;
            line-height: 1.36583;
          }
        }
        .app-comment-description {
          .app-comment-text {
            color: $gray1;
            font-size: $text-sm;
            font-weight: $font-weight-regular;
            line-height: 1.5;
            word-break: break-word;
          }
        }
      }
      .app-c-commenttextarea {
        margin-top: 30px;
        margin-bottom: 10px;
        @media (max-width: $screen-md-down) {
          margin-top: 20px;
        }
        .app-l-form-wrap {
          max-width: 100%;
          .app-c-textareacomment {
            background: $gray5;
            font-size: $text-lg;
            font-weight: $font-weight-medium;
            @media (max-width: $screen-md-down) {
              font-size: $text-lg;
            }
          }
        }
      }
      .button-group {
        .app-btn-lg {
          height: 56px;
        }
      }
    }
  }
  .sidepanel-footer {
    flex: 0 0 auto;
    .panel-sub-footer {
      .app-btn-primary {
        @extend %flex;
        .app-c-icon {
          margin-left: 14px;
        }
      }
    }
  }
}
.app-sidepanel-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba($color: $white, $alpha: 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  animation: $animation-duration5 $animation-type3 opacityForward forwards;
  &.dark-theme{
    background-color: rgb(19 37 58 / 72%);
  }
  @keyframes opacityForward {
    100% {
      opacity: 1;
    }
  }
}
.app-c-dsb__apply {
  .app-c-avatar-dsb {
    border-radius: $card-radius;
    width: 80px;
    height: 80px;
    @extend %flex-all-center;
    &.app-c-blue-bg {
      background-color: $light-green;
    }
  }
  .sidepanel-heading {
    position: relative;
    padding-bottom: 30px;
    @media (max-width: $screen-md-down) {
      padding-bottom: 20px;
    }
    &.app-l-sidepanel_withoutborder {
      border-bottom: none;
      padding: 40px 0px 30px;
      @media (max-width: $screen-md-down) {
        padding: 20px 0px 20px;
      }
    }
    .app-c-container__details {
      .app-c-detail-name {
        .app-c-role-details {
          .app-c-complete {
            margin-top: 3px;
          }
        }
      }
    }
  }
  .app-c-right__icn {
    height: 34px;
    width: 34px;
    position: absolute;
    right: 0px;
    top: 33px;
    padding: 4px;
    background: transparent;
    border-radius: $circle-radius;
    border: none;
    @media (max-width: $screen-md-down) {
      top: 15px;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

/*---------------sidepanel with form-------------*/
.app-c-sidepanel-form {
  padding: 20px 0px;
  .app-c-form__hd {
    font-size: $text-md;
    font-weight: $font-weight-bold;
    line-height: 1.5;
    color: $app-theme-primary;
    margin-bottom: 30px;
    @media (max-width: $screen-md-down) {
      margin-bottom: 20px;
    }
  }
  .app-l-form-items_single {
    margin-bottom: 30px;
    padding: 0px 15px;
    @media (max-width: $screen-md-down) {
      margin-bottom: 20px;
    }
  }
  .app-l-form-items__wrapper {
    @extend %flex;
    margin-bottom: 30px;
    &.app-l-cstm-mrgn {
      margin-bottom: 13px;
    }
    &.app-l-cstm-mrgnchkbox {
      margin-bottom: 33px;
    }
    @media (max-width: $screen-md-down) {
      @include flex-direction(column);
      margin-bottom: 20px;
    }
    .app-l-form-items {
      padding: 0px 15px;
      flex: 0 1 50%;
      &.app-c-form-checkbox {
        @extend %flex;
      }
      .angular_selectbox {
        .angular_selectbox--menu-button {
          background-color: $gray5;
        }
      }
      .app-c-period--odd {
        .app-c-label {
          font-size: $text-md;
          font-weight: $font-weight-medium;
          color: $gray1;
          display: block;
          margin-bottom: 10px;
          @media (max-width: $screen-md-down) {
            font-size: $text-sm-plus;
          }
        }
      }
      .app-check-radio-label {
        font-size: $text-sm;
        font-weight: $font-weight-medium;
        color: $app-theme-primary;
      }
      &.app-c-item-odd {
        @media (max-width: $screen-md-down) {
          margin-top: 20px;
        }
      }
      &.app-c-odd-field {
        margin-top: 23px;
      }
    }
  }
  .app-l-form-details-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .app-textfield-lg {
    background-color: $gray5;
  }
  .app-l-file__drag {
    background-color: $gray5;
    height: 85px;
  }
}

/*---------------tab------------------*/
.sidepanel .app-l-tab-slider--nav.--sidepanel {
  width: 100%;
  .app-l-tab-slider--tabs--sidepanel {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    @extend %user-select-none;
    flex-wrap: wrap;
    background-color: rgba($color: $gray3, $alpha: 0);
    background-clip: text;
    transition: background-color $animation-delay3;
    &.scrollActive {
      background-color: rgba($color: $gray3, $alpha: 0.6);
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px $gray5;
        background-color: inherit;
      }
    }
    &.scrollInactive {
      background-color: rgba($color: $gray3, $alpha: 0);
    }
    &::-webkit-scrollbar {
      background-color: $white;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px $gray5;
      background-color: inherit;
      transition: background-color $animation-delay3;
    }
    @media screen and (max-width: $screen-md) {
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }
  .app-l-tab-slider--trigger--sidepanel {
    font-weight: $font-weight-semi-bold;
    font-size: $text-md;
    color: $app-theme-primary;
    text-align: center;
    margin-right: 40px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: font-weight $animation-duration3, color $animation-duration3;
    @extend %user-select-none;
    flex-shrink: 0;
    line-height: 1.5;
    margin-top: 10px;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: $screen-md-down) {
      flex-shrink: 0;
      font-size: $text-lg;
      margin-right: 40px;
    }
    @media screen and (max-width: $screen-sm) {
      margin-right: 18px;
    }
    @media screen and (max-width: $screen-xs) {
      margin-right: 30px;
    }
    &:after {
      content: "";
      position: relative;
      display: block;
      background: $app-theme-primary-green;
      height: 3px;
      border-radius: 2px;
      margin-top: 10px;
      opacity: 0;
      width: 0;
      transition: width $animation-duration3,
        background-color $animation-duration3;
      @media screen and (max-width: $screen-md-down) {
        width: 30%;
      }
    }
    &.active {
      color: $app-theme-primary-green;
      &:after {
        width: 57%;
        opacity: 1;
        @media screen and (max-width: $screen-md-down) {
          width: 30%;
        }
      }
      .app-l-menu-item {
        font-weight: $font-weight-bold;
      }
    }
    &.app-l-tab-highlight {
      color: $app-theme-primary-green;
    }
  }
}

/*-------------view sidepanel--------------*/
.app-c-view-sidepanel{
  .progress-container{
  .progress-svg{
     background-color: $gray6;
  }
  }
  .sidepanel-header-action {
    .app-c-close{
      left: -24px;
    }
  }
  .sidepanel-heading-action-mv{
    align-items: center;
  }
  .sidepanel{
    @media (max-width: $screen-md-down) {
     background-color: $gray6;
     max-height: calc(100vh - 198px);
    bottom: 70px;
    top:auto;
    }
  }
  .sidepanel-body{
    padding: 15px 25px 25px 25px;
  }
  .sidepanel-heading{
    padding: 40px 0px 30px 0px;
    margin: 0px 40px;
    border-bottom: 1px solid $gray4;
    .panel-heading-only{
      font-size: $text-xl;
      font-weight: $font-weight-semi-bold;
   }
    @media (max-width: $screen-md-down) {
      display: none;
    }
  }
  .view-panel-heading{
    margin-left: 22px;
    color:$app-theme-primary;
    font-size: $text-md;
    font-weight: $font-weight-semi-bold;
  }
  .task-wrapper {
    .task-item-outer{
      padding: 15px;
      display: block;
      text-decoration: none;
       &:hover{
         background-color: $gray6;
         .task-item--sub-text{
           color: $app-theme-primary;
         }
       }
     }
   .task-item {
      @extend %flex-vert-start;
      text-decoration: none;
      
      &--icon {
        .task-icon-stroke {
          color: $app-theme-primary;
        }
        margin-right: 16px;
        min-width: 24px;
        position: relative;
      }
      &--information {
        @extend %flex-col;
        margin-right: 10px;
        max-width: 190px;
        .task-item-org-name {
          font-weight: $font-weight-semi-bold;
          color: $app-theme-primary;
          font-size: $text-md;
        }
      }
      &--title {
        font-size: $text-md;
        line-height: 1.2;
        color: $app-theme-primary;
        margin-bottom: 4px;
        font-weight: $font-weight-regular;
        word-break: break-word;
      }
      &--sub-text {
        font-size: $text-sm;
        line-height: 1.5;
        font-weight: $font-weight-regular;
        color: $gray2;
        word-break: break-word;
      }
      &--status {
        margin-left: auto;
        flex-shrink: 0;
        .badge-pills{
          max-width: 90px;
          word-break: break-word;
        }
      }
    }
  }
 
  
}
/*--------------signup coding sidepanel----------------------*/
.sidepanel{
  .panel-mv-heading{
    font-size: $text-lg;
    font-weight: $font-weight-semi-bold;
    margin-left: 10px;
   }
  &.app-c-panelCentered{
    top: 50%;
    left: 50%;
    height: 100%;
    box-shadow: 0px -4px 20px rgba(181, 194, 206, 0.05), 4px 8px 20px rgba(181, 194, 206, 0.25);
    border-radius: 16px;
    transition:  opacity ease-out 0.3s;
   
    @media (max-width: $screen-md-down)  {
      top: 0;
      left: 0;
      height: calc(100% - 64px);
      border-radius: 0px;
      transform: translateX(120%);
      transition: transform $animation-type3 $animation-duration3,
             opacity $animation-type3 $animation-duration3;
    }
   .sidepanel-heading{
     padding: 20px;
    border-bottom: 1px solid $gray4;
    &.sidepanel-heading--withclose{
     position: relative;
       .sidepanel-header-right{
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        transition: color $animation-type3 $animation-duration3;
        &:hover{
          .icon-svg{
            color: $app-theme-primary;
          }
        }
       }
    }
     @media (max-width: $screen-md-down) {
         display: none;
     }
     .panel-heading-only{
        font-size: $text-xl;
        font-weight: $font-weight-semi-bold;
        margin-top: 0px;
        text-align: center;
        
     }
    
   }
  
   .sidepanel-body{
    padding: 60px 60px 56px 60px;
    @include screen-lap-sm {
      padding: 39px 60px 40px 60px;
    }
    @media (max-width: $screen-md-down)  {
      padding: 32px 20px;
      background-color:$gray6;
    }
    .panel-form{
      max-width: 288px;
      margin: 0 auto;
      @media (max-width: $screen-md-down)  {
        max-width: 100%;
      }
      .app-textfield{
        background: $gray5;
        border: 1px solid $gray3;
      }
      .app-l-check-rm{
        margin-top: 13px;
        margin-bottom: 24px;
        .app-check-radio-label{
          font-size: $text-sm;
        }
      }
      .button-group{
        @extend %flex;
        .app-btn-secondary{
          margin-right: 20px;
        }
      }
    }
    .panel-form-wrap{
      .app-l-form-wrap--label{
        font-size: $text-lg;
        font-weight: $font-weight-medium;
        color: $app-theme-primary;
        margin-bottom: 20px;
        text-align: center;
        &.app-l-dp-label{
          color: $gray1;
          text-align: left;
          font-size: $text-md;
          margin-bottom: 10px;
        }
      }
    }
    .panel-tile-pic{
      @extend %flex-all-center;
      margin-bottom: 20px;
     .gkdp{
       text-align: center;
       width: 163px;
       height: 127px;
      
     }
    }
     .whatsapp-section {
      margin-bottom: 30px;
      @media (max-width: $screen-md-down)  {
         margin-bottom: 20px;
      }
      .app-l-form-wrap {
        max-width: 281px;
       
        .signup-sidepanel-textfield {
          height: 56px;
          border-color: $gray5;
          &:disabled {
            color: $gray1;
          }
          &.app-textfield-icon-right {
            padding-right: 89px;
          }
        }
        .whatsapp-icon {
          position: absolute;
          top: 18px;
          left: 20px;
        }
        .app-edit-icon {
          position: absolute;
          top: 18px;
          right: 20px;
        }
      }
      .app-l-textfield-wrap {
        .app-edit-save-btn{
          &:hover{
            .icon-svg{
              color:$app-theme-primary-green-dark;
            }
          }
        
        }
      }
    }
   }
   &.panel-dwnld-str{
     .app-l-form-wrap{
       max-width: 468px;
       margin: 0 auto;
     }
     .app-l-panel__subhead{
       margin-bottom: 28px;
       .panel-subhead{
         font-size: $text-xxl;
         font-weight: $font-weight-semi-bold;
         color: $app-theme-primary-green;
         line-height: 1.2;
         text-align: center;
       }
     }
     .app-l-panel-instrcn{
       font-size: $text-lg;
       font-weight: $font-weight-medium;
       color: $gray1;
       margin-bottom: 43px;
       line-height: 1.5;
       text-align: center;
       @media (max-width: $screen-md-down)  {
         margin-bottom: 36px;
       }
     }
     .sidepanel-body {
       padding: 28px 40px 44px 40px;
      .panel-form{
        max-width:100%;
      }
     }
     .dwnld-button-gp{
       margin-top: 42px;
       justify-content: center;
       @media (max-width: $screen-md-down)  {
        flex-direction: column;
        margin-top: 25px;
       }
       .app-l-bt-text-wrapper{
         @extend %flex-col;
         align-items: flex-start;
         @media (max-width: $screen-md-down)  {
           flex-direction: row;
         }
       }
       .app-btn-lg{
         padding: 16px 30px;
         height: 77px;
         @extend %flex;
         justify-content: space-between;
         align-items: flex-start;
         @media (max-width: $screen-md-down)  {
          justify-content: center;
          align-items: center;
          height: 60px;
         }
         @media (max-width: 374px)  {
           padding: 16px;
         }
         @media (max-width: $screen-xs)  {
           padding: 9px;
         }
         &:nth-child(1){
          @media (max-width: $screen-md-down)  {
            margin-bottom: 20px;
            margin-right: 0px;
          }
         }
         &:nth-child(2){
           margin-right: 0px;
         }
         .icon-btn{
           margin-right: 20px;
           @media (max-width: $screen-md-down)  {
             margin-right: 7px;
           }
         }
         .main-ttle{
           font-size: $text-lg;
           font-weight: $font-weight-bold;
           line-height: 1.5;
           @media (max-width: $screen-md-down)  {
             font-size: $text-md;
           }
         }
         .sub-ttle{
           font-size: $text-md;
           font-weight: $font-weight-medium;
           line-height: 1.5;
           
         }
       }
     }
    .angular_selectbox--menu-button{
      @media (max-width: $screen-md-down)  {
      background: $gray5;
      height: 46px;
      border: 1px solid $gray3;
      &:hover:not(.form-error) {
        border: 1px solid $app-theme-primary-green;
       }
      }
     }
    
   }
  }
  &.app-c-panelsignup{
    top: 50%;
    left: 50%;
    height: 100%;
    box-shadow: 0px -4px 20px rgba(181, 194, 206, 0.05), 4px 8px 20px rgba(181, 194, 206, 0.25);
    border-radius: 16px;
    transition:  opacity ease-out 0.3s;
   
    @media (max-width: $screen-md-down)  {
      top: 0;
      left: 0;
      height: calc(100% - 64px);
      border-radius: 0px;
      transform: translateX(120%);
      transition: transform $animation-type3 $animation-duration3,
             opacity $animation-type3 $animation-duration3;
    }
   .sidepanel-heading{
     padding: 20px;
    border-bottom: 1px solid $gray4;
    &.sidepanel-heading--withclose{
     position: relative;
       .sidepanel-header-right{
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        transition: color $animation-type3 $animation-duration3;
        &:hover{
          .icon-svg{
            color: $app-theme-primary;
          }
        }
       }
    }
     @media (max-width: $screen-md-down) {
         display: none;
     }
     .panel-heading-only{
        font-size: $text-xl;
        font-weight: $font-weight-semi-bold;
        margin-top: 0px;
        text-align: center;
        
     }
    
   }
  
   .sidepanel-body{
    padding: 60px 60px 56px 60px;
    @include screen-lap-sm {
      padding: 39px 60px 40px 60px;
    }
    @media (max-width: $screen-md-down)  {
      padding: 32px 20px;
      background-color:$gray6;
    }
    .panel-form{
      max-width: 288px;
      margin: 0 auto;
      @media (max-width: $screen-md-down)  {
        max-width: 100%;
      }
      .app-textfield{
        background: $gray5;
        border: 1px solid $gray3;
      }
      .app-l-check-rm{
        margin-top: 13px;
        margin-bottom: 24px;
        .app-check-radio-label{
          font-size: $text-sm;
        }
      }
      .button-group{
        @extend %flex;
        .app-btn-secondary{
          margin-right: 20px;
        }
      }
    }
    .panel-form-wrap{
      .app-l-form-wrap--label{
        font-size: $text-lg;
        font-weight: $font-weight-medium;
        color: $app-theme-primary;
        margin-bottom: 20px;
        text-align: center;
        &.app-l-dp-label{
          color: $gray1;
          text-align: left;
          font-size: $text-md;
          margin-bottom: 10px;
        }
      }
    }
    .panel-tile-pic{
      @extend %flex-all-center;
      margin-bottom: 20px;
     .gkdp{
       text-align: center;
       width: 163px;
       height: 127px;
      
     }
    }
     .whatsapp-section {
      margin-bottom: 30px;
      @media (max-width: $screen-md-down)  {
         margin-bottom: 20px;
      }
      .app-l-form-wrap {
        max-width: 281px;
       
        .signup-sidepanel-textfield {
          height: 56px;
          border-color: $gray5;
          &:disabled {
            color: $gray1;
          }
          &.app-textfield-icon-right {
            padding-right: 89px;
          }
        }
        .whatsapp-icon {
          position: absolute;
          top: 18px;
          left: 20px;
        }
        .app-edit-icon {
          position: absolute;
          top: 18px;
          right: 20px;
        }
      }
      .app-l-textfield-wrap {
        .app-edit-save-btn{
          &:hover{
            .icon-svg{
              color:$app-theme-primary-green-dark;
            }
          }
        
        }
      }
    }
   }
   &.panel-dwnld-str{
     .app-l-form-wrap{
       max-width: 468px;
       margin: 0 auto;
     }
     .app-l-panel__subhead{
       margin-bottom: 28px;
       .panel-subhead{
         font-size: $text-xxl;
         font-weight: $font-weight-semi-bold;
         color: $app-theme-primary-green;
         line-height: 1.2;
         text-align: center;
       }
     }
     .app-l-panel-instrcn{
       font-size: $text-lg;
       font-weight: $font-weight-medium;
       color: $gray1;
       margin-bottom: 43px;
       line-height: 1.5;
       text-align: center;
       @media (max-width: $screen-md-down)  {
         margin-bottom: 36px;
       }
     }
     .sidepanel-body {
       padding: 28px 40px 44px 40px;
      .panel-form{
        max-width:100%;
      }
     }
     .dwnld-button-gp{
       margin-top: 42px;
       justify-content: center;
       @media (max-width: $screen-md-down)  {
        flex-direction: column;
        margin-top: 25px;
       }
       .app-l-bt-text-wrapper{
         @extend %flex-col;
         align-items: flex-start;
         @media (max-width: $screen-md-down)  {
           flex-direction: row;
         }
       }
       .app-btn-lg{
         padding: 16px 30px;
         height: 77px;
         @extend %flex;
         justify-content: space-between;
         align-items: flex-start;
         @media (max-width: $screen-md-down)  {
          justify-content: center;
          align-items: center;
          height: 60px;
         }
         @media (max-width: 374px)  {
           padding: 16px;
         }
         @media (max-width: $screen-xs)  {
           padding: 9px;
         }
         &:nth-child(1){
          @media (max-width: $screen-md-down)  {
            margin-bottom: 20px;
            margin-right: 0px;
          }
         }
         &:nth-child(2){
           margin-right: 0px;
         }
         .icon-btn{
           margin-right: 20px;
           @media (max-width: $screen-md-down)  {
             margin-right: 7px;
           }
         }
         .main-ttle{
           font-size: $text-lg;
           font-weight: $font-weight-bold;
           line-height: 1.5;
           @media (max-width: $screen-md-down)  {
             font-size: $text-md;
           }
         }
         .sub-ttle{
           font-size: $text-md;
           font-weight: $font-weight-medium;
           line-height: 1.5;
           
         }
       }
     }
    .angular_selectbox--menu-button{
      @media (max-width: $screen-md-down)  {
      background: $gray5;
      height: 46px;
      border: 1px solid $gray3;
      &:hover:not(.form-error) {
        border: 1px solid $app-theme-primary-green;
       }
      }
     }
    
   }
  }
}
.show-panel{
  .sidepanel{
    &.app-c-panelCentered{
      transform: translate(-50%,-50%);
      @media (max-width: $screen-md-down)  {
        transform: translate(0%,0%);
      }
      
    }
    &.app-c-panelsignup{
      transform: none;
      background: none;
      box-shadow: none;
      left: 50%;
      margin: 0;
      transform: translateX(-50%);
      @media (max-width: $screen-md-down)  {
        transform: translate(0%, 0%);
        max-width: 100%;
        margin: 0px auto;
        margin-top: 50px;
        padding: 0px 20px;
        left: 0;
        top: 0;
      }
      
    }
  }
}
.sidepanel-notfcn{
  .sidepanel-heading{
    padding: 40px 0px 30px 0px;
    margin: 0px 40px;
    border-bottom: 1px solid $gray4;
    .panel-heading-only{
    font-size: $text-xl;
    font-weight: $font-weight-semi-bold;

  }
  @media (max-width: $screen-md-down)  {
    display: none;
  }
  }
  .sidepanel-body{
     padding-top: 0px;
     @media (max-width: $screen-md-down)  {
       padding: 0px 20px 30px 20px;
     }
  }
  .notification-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $gray4;
    &:last-child{
      border-bottom: none;
    }
    .notification--info{
      max-width: 222px;
    }
   .notification-item {
    @extend %flex-vert-start;
    justify-content: space-between;
    text-decoration: none;
    .notification--sub-text {
      font-size:$text-md;
      line-height: 1.5;
      font-weight: $font-weight-regular;
      color: $app-theme-primary;
      word-break: break-word;
      margin-bottom: 17px;
      .sub-item-link{
        cursor: pointer;
        font-weight: $font-weight-bold;
      }
    }
    .notification-main-text{
      font-size:$text-md;
      line-height: 1.5;
      font-weight: $font-weight-regular;
      color: $app-theme-primary;
      word-break: break-word;
      margin-bottom: 15px;
      .counter{
        font-size: $text-lg;
        font-weight: $font-weight-bold;
        color: $app-theme-tertiary-red;
        margin-left: 10px;
      }
    }
   .notification--status {
      margin-left: auto;
      flex-shrink: 0;
      .badge-pills{
        max-width: 90px;
        word-break: break-word;
      }
    }
  }
  .notification-update-item{
    @extend %flex-horiz-away-vert-center;
    .updated-info{
      font-size:$text-md;
      line-height: 1.5;
      font-weight: $font-weight-regular;
      color: $gray2;
      word-break: break-word;
     
    }
    .close-item{
      margin-left: 8px;
      transition: color $animation-type3 $animation-duration3;
      &:hover{
        .icon-svg{
          color: $app-theme-primary;
        }
      }
      .app-c-close{
        cursor: pointer;
      }
    }
  }
}
}
