@use "../abstracts" as *;
$pagination-bullet: #748fb5;
$disabled-swiper-btn: #445168;
$greenicon: #a4c734;
$grbg:#3c4b5c;
%iconbg {
  background-image: url("../../assets/images/home-page/logos/icon-bgs.svg");
  background-color: $app-theme-primary;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-c-swiper-container {
  .swiper-primary-theme-green {
    .swiper-pagination-bullets {
      margin: auto;
      left: auto;
      transform: none;
      &.swiper-pagination-bullets-dynamic {
        .swiper-pagination-bullet-active-next {
          transform: none;
        }
        .swiper-pagination-bullet {
          transform: none;
        }
        .swiper-pagination-bullet-active-next-next {
          transform: none;
        }
        .swiper-pagination-bullet {
          transform: none;
          position: relative;
        }
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: $app-theme-secondary-green;
      }
      .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        width: 8px;
        height: 8px;
        background-color: rgba($color: $pagination-bullet, $alpha: 0.25);
        margin-bottom: 2px;
      }
    }
  }
  .swiper-primary-theme {
    .swiper-wrapper {
      margin-bottom: 20px;
      &.gt-company-sw-wrapper{
        margin-bottom: 0px;
       
      }
    }
    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      background: $app-theme-primary;
      border: 1.5px solid $app-theme-primary;
      width: 40px;
      flex-shrink: 0;
      height: 40px;
      border-radius: 12px;
      color: $white;
      transition: background $animation-duration3 $animation-type3,
        opacity $animation-duration3 $animation-type3,
        visibility $animation-duration3 $animation-type3;
      @include screen-lg {
        display: none;
      }
      &:not(.swiper-button-disabled) {
        &:hover {
          background: $app-theme-primary-dark-1;
        }
      }
      &.swiper-button-disabled {
        background: $gray4;
        color: $disabled-swiper-btn;
        border: 1.5px solid $gray4;
      }
      &::after {
        display: none;
      }
    }
    .swiper-button-prev {
      transform: rotate(180deg);
      left: 26px;
    }
    .swiper-button-next {
      right: 26px;
    }
    .swiper-pagination-bullets {
      margin: auto;
      left: auto;
      transform: none;
      text-align: center;
      .swiper-pagination-bullet-active-next {
        transform: none;
      }
      .swiper-pagination-bullet {
        transform: none;
      }
      .swiper-pagination-bullet-active-next-next {
        transform: none;
      }
      .swiper-pagination-bullet {
        transform: none;
        position: relative;
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
        background-color: $app-theme-primary;
      }
      .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        width: 8px;
        height: 8px;
        background-color: $gray3;
      }
    }
    .app-c-card__item {
      padding: 20px 20px 30px;
      background-color: $white;
      @extend %flex-vert-start;
      box-shadow: 4px 8px 20px rgba(198, 207, 216, 0.25);
      border-radius: 8px;
      margin: 0;
      &:hover {
        box-shadow: 4px 8px 20px rgba(198, 207, 216, 0.25);
      }
      .app-btn-lg {
        height: auto;
      }
      @include screen-lg {
        flex-direction: column;
      }
      .ac-item--image {
        margin-right: 20px;
        min-width: 294px;
        border-radius: 8px;
        @include screen-lg {
          margin: 0 0 22px;
          min-width: auto;
          width: 100%;
        }
        img {
          max-width: 294px;
          width: 100%;
          border-radius: 8px;
          object-fit: cover;
          @include screen-lg {
            max-width: 100%;
            max-height: 170px;
          }
        }
      }
      .ac-item--title {
        font-size: $text-xl;
        color: $app-theme-primary;
        font-weight: $font-weight-semi-bold;
        line-height: 1.5;
        margin-bottom: 23px;

        @include screen-lg {
          margin-bottom: 20px;
        }
      }
      .ac-item--list {
        margin-bottom: 20px;
        .ac-item--list-item {
          + .ac-item--list-item {
            margin-top: 20px;
          }
        }
        .ac-item-checklist {
          @extend %flex-vert-start;
          .ac-checklist-icon {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-right: 11px;

            &.access-state {
              background-color: $app-theme-primary-green;
              border-radius: $circle-radius;
              @extend %flex-all-center;
              .icon-svg {
                color: $white;
              }
            }
          }
        }
        .ac-checklist-caption {
          color: $gray1;
          font-size: $text-md;
          line-height: 1.5;
          margin-top: -2px;
          font-weight: $font-weight-medium;
        }
      }
    }
  }
  &.app-c-swiper-verticalslider {
    .swiper-primary-theme {
      .app-c-card__item {
        margin: 0px;
        padding: 0px;
        .ac-item--image {
          @media (min-width:$screen-lg) {
            border-radius: 8px 8px 0 0;
            img {
              border-radius: 8px 8px 0 0;
            }
          }
        }
        @include screen-lg {
          padding: 20px 20px 30px;
        }
        flex-direction: column;
        .ac-item--image {
          margin: 0 0 22px;
          min-width: auto;
          width: 100%;
          img {
            max-width: 100%;
          }
        }
        .ac-item--title {
          margin-bottom: 20px;
        }
        .ac-lm-link {
          .ac-link-vl {
            font-weight: $font-weight-semi-bold;
            font-size: $text-lg;
            line-height: 1.5;
            color: $app-theme-primary-green;
            text-decoration: none;
          }
        }
        .ac-item--details {
          padding: 0px 20px 30px 20px;
          @include screen-lg {
            padding: 0px;
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
    .swiper-wrapper {
      max-width: 200px;
    }
  }
  &.app-c-swiper-darktheme{
    
    .swiper-pagination-bullets .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      width: 8px;
      height: 8px;
      background-color: rgba(181, 194, 218, 0.7);
      margin-bottom: 2px;
    }
   
  }
}
#swiper-pagination-company{
  @extend %flex-all-center;
  min-height: 68px;
  padding-top: 16px;
  .img-pagination-slider{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    .gt-pg-slider-logo{
      width: 100%;
    }
  }
  .swiper-pagination-bullet{
    width: 24px;
    height: 24px;
    margin-right: 28px;
    opacity: 1;
    background-color: transparent;
    // border: 1px solid $white;
    transition: transform $animation-duration3 $animation-type3;
    @include screen-lg{
      margin-right: 16px;
    }
    &:last-child{
      margin-right: 0;
    }
    &.swiper-pagination-bullet-active{
      transform: scale(2.1);
      // border-color: $lightgreen;
      @include screen-lg{
        transform: scale(1.4);
        border: .8px solid $app-theme-secondary-green;
      }
      
    }
    
  }
  &.swiper-pagination-cmp-float{
    position: relative;
    .swiper-pagination-bullet{
      margin: 0px;
      position: absolute;
     z-index: 10;
     cursor: pointer;
     @include screen-lg{
       position: initial;
     }
     .flting-txt{
       display: block;
       opacity: 0;
       transition: opacity $animation-duration3 $animation-type3;
       bottom: -62px;
       white-space: nowrap;
       text-transform: capitalize;
       padding: 8px 20px;
       position: absolute;
       border-radius: 24px;
       left: 50%;
       transform: translateX(-50%);
       font-weight: $font-weight-semi-bold;
       font-size: $text-xl;
       line-height: 1.5;
       background: $grbg;
       pointer-events: none;
       @include screen-lap-sm{
         bottom: -54px;
       }
       @include screen-lg{
         display: none;
       }
     }
     .img-pagination-slider{
      transition: transform $animation-duration3 $animation-type3,
                  border-color $animation-duration3 $animation-type3;
      border: 1px solid transparent;
      @include screen-lg{
        @include iconwidth(24px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
    }
      &.swiper-pagination-bullet-active{
        transform: none;
       .flting-txt{
        opacity: 1;
       
      }
      .img-pagination-slider{
        transform: scale(2.1);
        border-color:$white;
        @include screen-lap-sm{
          transform: scale(1.8);
        }
        @include screen-lg{
          transform: scale(1.7);
        }
      }
     
     }
      &.icon0{
        @include iconwidth(56px);
        top: 52%;
        left: 25.5%;
        margin-left: -28px;
        margin-top: -28px;
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
        .img-pagination-slider{
            background-color:$white;
            padding: 4px;
            @include screen-lg{
              padding: 2px;
            }
        }
        .gt-pg-slider-logo{
          border-radius: $circle-radius;
        }
        @media (max-width:$screen-xxxl){
          top: 20.5vw;
          left: 25.1vw;
        }
        @include screen-lap-sm-hm{
          top:40%;
        }
        @include screen-lap-sm-dots{
          top: 15.5vw;
          left: 25.5vw
        }
        
      }
      &.icon1{
          @include iconwidth(72px);
          top: 40%;
          left: 47.5%;
          margin-left: -36px;
          margin-top: -36px;
          .img-pagination-slider{
            background-color:$white;
        }
        @media (max-width:$screen-xxxl){
          top: 15vw;
       left: 45.1vw;
        }
        @include screen-lap-sm-hm{
          top: 27%;
        }
        @include screen-lap-sm-dots{
          top: 10vw;
          left: 45.2vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
     }
      &.icon2{
        @include iconwidth(56px);
        top: 65%;
        left: 59%;
        margin-left: -28px;
        margin-top: -28px;
        .img-pagination-slider{
          background-color: $white;
          padding: 4px;
          @include screen-lg{
            padding: 2px;
          }
        }
        @media (max-width:$screen-xxxl){
          left: 55vw;
          top: 25.5vw;
        }
        @include screen-lap-sm-hm{
          top: 53%
        }
        @include screen-lap-sm-dots{
          top: 20.4vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon3{
        @include iconwidth(48px);
        top: 52.5%;
        right: 22.7%;
        margin-left: -24px;
        margin-top: -24px;
        .img-pagination-slider{
         @extend %iconbg;
         padding: 12px;
         @include screen-lg{
          padding: 5px;
        }
        }
        @media (max-width:$screen-xxxl){
          top: 20.2vw;
          right: 27.5vw;
        }
        @include screen-lap-sm-hm{
          top: 39.5%
        }
        @include screen-lap-sm-dots{
          top: 15.2vw;
          right: 27.7vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon4{
        @include iconwidth(64px);
        top: 52%;
        right: 5.5%;
        margin-left: -32px;
        margin-top: -32px;
        .img-pagination-slider{
          background-color: $white;
          padding: 4px;
          @include screen-lg{
            padding: 2px;
          }
        }
        @media (max-width:$screen-xxxl){
          right: 12vw;
          top: 20.5vw;
        }
        @include screen-lap-sm-hm{
          top: 40%;
        }
        @include screen-lap-sm-dots{
          top: 15.5vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon5{
        @include iconwidth(56px);
        bottom: 29.5%;
        left: 9%;
        margin-left: -28px;
        margin-top: -28px;
        .img-pagination-slider{
          @extend %iconbg;
          padding: 12px;
          @include screen-lg{
            padding: 2px;
          }
        }
        @media (max-width:$screen-xxxl){
          top: 25vw;
          left: 10vw;
        }
        @include screen-lap-sm-hm{
          bottom:42.5%;
        }
        @include screen-lap-sm-dots{
          top: 20.3vw;
          left: 10.5vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon6{
        @include iconwidth(56px);
        margin-left: -28px;
        margin-top: -28px;
        top: 65%;
        left: 42%;
        .img-pagination-slider{
          @extend %iconbg;
          padding: 10px;
          @include screen-lg{
            padding: 2px;
          }
         }
         @media (max-width:$screen-xxxl){
          top: 25.5vw;
          left: 40vw;
        }
        @include screen-lap-sm-hm{
          top: 53%
        }
        @include screen-lap-sm-dots{
          top: 20.5vw;
          left: 40.3vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
     }
      &.icon7{
        @include iconwidth(48px);
        margin-left: -24px;
        margin-top: -24px;
        bottom: 5%;
    left: 53.3%;
       .img-pagination-slider{
        background-color: $greenicon;
        padding: 4px;
        @include screen-lg{
          padding: 2px;
        }
      }
      @media (max-width:$screen-xxxl){
        left: 50.1vw;
       bottom: 1vw;
      }
      @include screen-lap-sm-hm{
        bottom: 17%;
      }
      @include screen-lap-sm-dots{
        bottom: 5.5vw;
      }
      @include screen-lg{
        @include iconwidth(24px);
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 0px;
      }
    }
      &.icon8{
        @include iconwidth(64px);
        bottom: 16%;
        left: 20%;
        margin-left: -32px;
        margin-top: -32px;
        .gt-pg-slider-logo{
          border-radius: $circle-radius;
        }
        @media (max-width:$screen-xxxl){
          bottom: 5.3vw;
         left: 15.1vw;
        }
        
        @include screen-lap-sm-hm{
          bottom: 29%;
        }
        @include screen-lap-sm-dots{
          bottom: 10.3vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon9{
        @include iconwidth(48px);
        bottom: 18%;
        right: 17%;
        margin-left: -24px;
        margin-top: -24px;
        .img-pagination-slider{
         background-color: $white;
          padding: 4px;
          @include screen-lg{
            padding: 2px;
          }
         }
         @media (max-width:$screen-xxxl){
          right: 22.5vw;
          bottom: 6vw;
         }
         @include screen-lap-sm-hm{
          bottom: 30%;
        }
        @include screen-lap-sm-dots{
          bottom: 10.5vw;
        }
         @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
       
      }
      &.icon10{
        @include iconwidth(48px);
        top: 26.5%;
        left: 31%;
        margin-left: -24px;
        margin-top: -24px;
        .gt-pg-slider-logo{
          border-radius: $circle-radius;
        }
        @media (max-width:$screen-xxxl){
          top: 10.1vw;
        left: 30.1vw;
        }
        @include screen-lap-sm-hm{
          top: 13.6%;
        }
        @include screen-lap-sm-dots{
          top: 5.5vw;
          left: 30.3vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon11{
        @include iconwidth(64px);
        bottom: 15.5%;
        right: 27.8%;
        margin-left: -32px;
        margin-top: -32px;
        @media (max-width:$screen-xxxl){
          right: 32vw;
          bottom: 5.3vw;
        }
        @include screen-lap-sm-hm{
          bottom: 28.5%;
        }
        @include screen-lap-sm-dots{
          bottom: 10.3vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon12{
        @include iconwidth(56px);
        bottom: 16.5%;
        right: 5.5%;
        margin-left: -28px;
        margin-top: -28px;
        .img-pagination-slider{
          @extend %iconbg;
          padding: 12px;
          @include screen-lg{
            padding: 2px;
          }
        }
        @media (max-width:$screen-xxxl){
          bottom: 5.8vw;
          right: 12.4vw;
        }
        @include screen-lap-sm-hm{
          bottom: 29.5%;
        }
        @include screen-lap-sm-dots{
          bottom: 10.4vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon13{
        @include iconwidth(64px);
        top: 39%;
        left: 14.3%;
        margin-left: -32px;
        margin-top: -32px;
        .img-pagination-slider{
          @extend %iconbg;
          padding: 12px;
          @include screen-lg{
            padding: 2px;
          }
        }
        @media (max-width:$screen-xxxl){
          top: 15.5vw;
          left: 15.1vw;
        }
        @include screen-lap-sm-hm{
          top: 27%;
        }
        @include screen-lap-sm-dots{
          top: 10.5vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon14{
        @include iconwidth(56px);
        top: 26%;
        left: 69.6%;
        margin-left: -28px;
        margin-top: -28px;
        .gt-pg-slider-logo{
          border-radius: $circle-radius;
        }
        @media (max-width:$screen-xxxl){
          top: 10.1vw;
         left: 65.1vw;
        }
        @include screen-lap-sm-hm{
          top: 14%;
        }
        @include screen-lap-sm-dots{
          top: 5.5vw;
          left: 65.1vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon15{
        @include iconwidth(48px);
        top: 27%;
        right: 12%;
        margin-left: -24px;
        margin-top: -24px;
        .img-pagination-slider{
          @extend %iconbg;
          @include screen-lg{
            padding: 2px;
          }
        }
        @media (max-width:$screen-xxxl){
          top: 10.1vw;
          right: 18vw;
        }
        @include screen-lap-sm-hm{
          top: 14%;
        }
        @include screen-lap-sm-dots{
          top: 5.5vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      &.icon16{
        @include iconwidth(48px);
        top: 26%;
        left: 53%;
        margin-left: -24px;
        margin-top: -24px;
        .img-pagination-slider{
          @extend %iconbg;
          padding: 6px;
          @include screen-lg{
            padding: 2px;
          }
          
         }
        @media (max-width:$screen-xxxl){
          top: 10.1vw;
        left: 50.1vw;
        }
        @include screen-lap-sm-hm{
          top: 14%;
        }
        @include screen-lap-sm-dots{
          top: 5.1vw;
          left: 50.1vw;
        }
        @include screen-lg{
          @include iconwidth(24px);
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 0px;
        }
      }
      

    }
  }
  &.app-l-sw-testimonial{
    .swiper-pagination-bullet{
      margin-right: 28px;
      @include screen-lg{
        width: 16px;
        height: 16px;
        margin-right: 16px;
      }
      &.swiper-pagination-bullet-active{
        transform: scale(2);
         border: 1px solid $app-theme-secondary-green;
      }
    }
  }
}
#swiper-pagination{
  &.swiper-pagination-pr{
    .swiper-pagination-bullet{
      flex-shrink: 0;
    }
  }
  &.swiper-pagination-hm{
    .swiper-pagination-bullet{
      margin: 10px 0px;
      @include screen-lg{
        margin: 0px 8px;
      }
      &.swiper-pagination-bullet-active{
        width: 16px;
        height: 16px;
        @include screen-lg{
          width: 12px;
          height: 12px;
        }
      }
      &:not(.swiper-pagination-bullet-active) {
        width: 12px;
        height: 12px;
        @include screen-lg{
          width: 8px;
          height: 8px;
        }
      }
    } 
  } 
  &.swiper-pagination-hiw{
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      position: relative;
      top: 2px;
    }
  }
} 
.process-swiperSlider{
  position: static!important;
}
// added for ie11 issue
@supports not (grid-area:auto) {
  .swiper-container-gone{
    .swiper-slide{
      &.swiper-slide-active{
        opacity: 1!important;
      }
    }
  }
}