$app-theme-primary: #13253a;
$app-theme-primary-green: #01967b;

$app-theme-secondary-blue: #077699;
$app-theme-secondary-green: #04d2af;
$app-theme-secondary-yellow: #fba201;

$app-theme-tertiary-blue: #e5f9ff;
$app-theme-tertiary-green: #e7faf3;
$app-theme-tertiary-yellow: #fff5e4;
$app-theme-tertiary-red: #ea4335;

$white: #ffffff;
$gray1: #47546c;
$gray2: #8390a8;
$gray3: #b5c2da;
$gray4: #e5ecf9;
$gray5: #f5f9ff;
$gray6: #f6f7fa;
$gray7: #efefef9e;
$gray8:#D3DAE9;

$app-theme-primary-dark: #0D1A29;
$app-theme-primary-dark-1:#123251;
$app-theme-primary-green-dark: #016956;
$app-theme-primary-green-dark-1: #65c4a9;
$light-green: #e5f9ff;
$semilight-green: #F1FCF8;
$semilight-yellow: #f7efe1;
$semilight-red: #f5e5e6;
$semilight-blue: #deeaf1;
$sblue: #dde8fb;
$bg-shade-1: #2E3E50;
$bg-shade-2: #DAE0EC;
$bg-shade-3: #EDF0F3;
$bg-shade-4:#007762;

//additional
$gray-shadow: rgba(212, 211, 253);
$app-theme-secondary-35: #e1e3e6;
$black: #000000;
$highlight-inner: #fff5e4;
$error: #ea4335;
$green-shade: #e7faf3;
$border-shade-1: #e5e5ed;
$circle-shade-1: #e4ebf8;
$app-theme-orange: #EA7E00;
$app-theme-teal: #1390B8;
$border-shade-2: #C4C4C4;
$hovershadepanel:rgba(230, 230, 230, 0.14);

$lg-yellowdark:#C48D00;
$lg-yellowlight:#F7D001;

$lightblack: #1f2f41;
$facebookblue: #4064AD;
$twitterblue: #059AE8;
$instapink: #8F39AE;
$linkedinblue: #046FAE;
$lightgrey: #b2bacb;
$lightgrey1: #cfd9ec;
$lightgrey2: #D3DCED;
$lightblackweb: #314358;
$lightblackweb1: #10243b;
$lightgreen:#08d2af;
$primarytint:#11243A;
$primarytint2:#314358;
$primarytint3:#293A4D;
$bordergraytint:#3B4D62;

$light-purple1:#A163DF;
$light-green1: #6BF6F6;
$ujala-blue1:#7F83E3;

$light-green2:#17F8EE;
$blue-green1:#20E4DB;
$blue-green2:#12BDB5;

$purple-grey1:#AE80DC;
$purple-grey2:#DD519C;
$purple-grey3:#8084DC;


$orange1:#FF4A89;
$orange2:#FF6269;
$orange3:#FF833C;
$orange4:#FF9C1B;
$orange5:#FFAB07;
$orange6:#FFB000;
$primarytint:#11243A;
$primarytint2:#314358;
$primarytint3:#293A4D;
$bordergraytint:#3B4D62;
$primarytint3:#1B2C3F;
$text-green:#66BB6A;
